body{background-color:black}
p{color:white}
h3{color:red;font-style:italic;}
h1{color:red;font-weight:300;font-family:arial}
h2{color:white}
hr{border-color:red;}
h4{color:white}
ul{color:white}
li{color:white}